certifi==2019.6.16
chardet==3.0.4
Click==7.0
decorator==4.4.0
Flask==1.1.1
future==0.17.1
geocoder==1.38.1
geographiclib==1.49
geopy==1.20.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
ratelim==0.1.6
requests==2.22.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.4
