body {
  	font-family: 'Lato', sans-serif;
  	font-weight: 400;
  	font-size: 16px;
  	line-height: 1.7;
  	color: #000;
    background-image:
	  				linear-gradient( to right bottom,
									 rgba(13, 23, 26, 0.6),
     								 rgba(17, 33, 39, 0.6)),
					url('../img/bg.jpg');

	background-size: cover;
  	background-position: center;
	background-attachment: fixed;
}

.card-container{
    height: 100vh;

}

.card {
    margin: 10% 25% 25% 25%;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
    height: 50%;
    width: 50%;
  position: relative;
}


.card-5 {
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background: #FFEEEE;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.brand-box-weather {
	z-index: 55;
  	position: sticky;
  	top: 40px;
  	left: 40px;
	right: 40px;
	margin-left: 40px;
}

@media only screen and (max-width: 600px){
    .card {
        margin: 20% 10% 25% 10%;
        width: 80%;
        height: 65%;
    }


    .brand-box-weather {
        margin: 5% 50% 2px 50%;
	position: absolute;
	top: 5px;
	}
}

.temp_avg{
	display: inline-block;
	position: relative;
	top: 1px;
	left: 2px;
	font-size: 5rem;
}

.temp_minmax{
	font-size: 0.8rem;
	position: relative;
	left: -2em;
}

.temp_units{
	position: relative;
	bottom: 2.6rem;
	left: -0.6rem;
	font-size: 1.4rem;
}

.citydate{
	display: inline-block;
	position: absolute;
	right: 1.1em;
	top: 2.4rem;
}

.city{
	display: inline-block;
	font-size: 1.3rem;
}

.date{
	display: block;
	font-size: 1.1rem;
}

.summary{
	font-size: 1.15rem;
	display: block;
	position: relative;
}

.wicon{
	font-size: 3rem;
}

.btn-weather{
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid black;
}

@media only screen and (max-width: 800px){
    .citydate{
		display: block;
		position: relative;
		right: 0;
		top: 0;
	}
	.summary{
		font-size: 1.1rem;
		display: block;
		position: relative;
		top: 0.8rem;
	}
	.wicon{
		display: block;
		text-align: center;
		margin-top:20px;
	}
	.btn-weather{
		margin: 0 auto;
		margin-top: 30px;
	}
}