<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Weather App</title>
    <script src="../static/css/jquery.min.js"></script> <!--jQuery -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"> <!--Bootstrap -->
    <script src="../static/css/bootstrap.min.js"></script>
    <link href="../static/css/weather-icons.min.css" rel="stylesheet"><!--Weather Icons -->
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/weather.css">
</head>

<body>
    <a href="http://rajrajhans.com/" style="text-decoration: none!important;">
            <div class="brand-box-weather">
                <a href="https://rajrajhans.com" target="_blank"><input type="button" class="btn btn-rajrajhans btn-animated btn-lg" value="Raj Rajhans"></a><br><br>
            </div>
    </a>

    <div class="card-container">
        <div class="card card-5">
            <!--******************* WEATHER START ******************* -->
            <div class="container-fluid">
                <br>
                <p>Current city - {{ weather.city }}    </p>
                <p>Current Date - {{ weather.date }}    </p>
                <p>Summary - {{ weather.summary }}      </p>
                <p>Temp Max - {{ weather.max_temp }}    </p>
                <p>Temp Min - {{ weather.min_temp }}    </p>
                <p>Rain Probability - {{ weather.raining_prob }}</p>
                <p>Icon - {{ weather.icon }}            </p>
                {% if weather.errors != None and errors_geo != None %}
                    <p>Weather Errors - {{ weather.errors }}</p>
                    <p>Geo Errors - {{ errors_geo }}        </p>
                {% endif %}
            </div>
            <!--******************* WEATHER END ******************* -->

        </div>
    </div>
</body>


<!-- END OF FILE -->
<section class="footer-w footer">
		<div class="container-fluid">
			<div class="row text-center text-xs-center text-sm-center text-md-center">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="http://rajrajhans.com/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="http://rajrajhans.com/"><i class="fa fa-angle-double-right"></i>Simple Weather App Blog Post</a></li>
                        </ul>
                    </div>
                </div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="http://facebook.com/rajrajhans"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="http://twitter.com/_rajrajhans"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="http://instagram.com/rajrajhans"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="mailto:me@rajrajhans.com;" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy 2019 All Rights Reserved.<a class="text-green ml-2 grow" href="https://rajrajhans.com" target="_blank">Raj Rajhans</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
</html>