<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Weather App</title>
    <script src="../static/css/jquery.min.js"></script> <!--jQuery -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"> <!--Bootstrap -->
    <script src="../static/css/bootstrap.min.js"></script>

    <link id="weather-css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/weather.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144357108-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144357108-1');
    </script>

    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon"/>
</head>

<body>
    <a href="http://rajrajhans.com/" style="text-decoration: none!important;">
            <div class="brand-box-weather">
                <a href="https://rajrajhans.com" target="_blank"><input type="button" class="btn btn-rajrajhans btn-animated btn-lg" value="Raj Rajhans"></a><br><br>
            </div>
    </a>

    <div class="card-container">
        <div class="card card-5">
            <!--******************* WEATHER START ******************* -->
            <div class="container-fluid">

                {% if weather.errors == None and errors_geo == None %}
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                    <div class="temp_avg">
                        {{ weather.avg_temp }}
                        <span class="temp_units">
                            °C
                        </span>
                        <span class="temp_minmax">
                            {{ weather.min_temp }}°C &nbsp; | &nbsp;  {{ weather.max_temp }}°C
                        </span>
                    </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                    <div class="citydate">
                        <div class="city">
                            {{ weather.city }}
                        </div>
                        <div class="date">
                            {{ weather.date }}
                        </div>
                    </div></div>
                </div>

                <div class="row">
                <div class="col-md-8 col-xs-9">
                <div class="summary ">
                    {{ weather.summary }}
                </div></div>

                    <div class="col-md-4 col-xs-3">
                    <div class="wicon">
                            <h1>
                                {% if weather.icon == "clear-day" %} <i class="wi wi-day-sunny"></i>
                                {% elif weather.icon == "clear-night" %} <i class="wi wi-night-clear"></i>
                                {% elif weather.icon == "rain" %} <i class="wi wi-rain"></i>
                                {% elif weather.icon == "snow" %} <i class="wi wi-snow"></i>
                                {% elif weather.icon == "sleet" %} <i class="wi wi-sleet"></i>
                                {% elif weather.icon == "wind" %} <i class="wi wi-windy"></i>
                                {% elif weather.icon == "fog" %} <i class="wi wi-fog"></i>
                                {% elif weather.icon == "cloudy" %} <i class="wi wi-cloudy"></i>
                                {% elif weather.icon == "partly-cloudy-day" %} <i class="wi wi-day-cloudy"></i>
                                {% elif weather.icon == "partly-cloudy-night" %} <i class="wi wi-night-partly-cloudy"></i>
                                {% endif %}
                            </h1>
                    </div></div></div>

                    <div class="summary ">
                        {{ weather.raining_prob }}
                    </div>

            {% else %}
                    <br><br>
                    <div class="alert alert-danger" role="alert">
                        {{ weather.errors }}
                    </div>
                {% endif %}
            </div>

            <!--******************* WEATHER END ******************* -->
            <div class="row">
                <a href="/#main" class="btn btn-animated btn-weather">Back</a>
            </div>
        </div>
    </div>
</body>


<!-- END OF FILE -->
	<section class="footer">
		<div class="container-fluid">
			<div class="row text-center text-xs-center text-sm-center text-md-center">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="/" target="_blank"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="https://rajrajhans.com/weather-webapp/" target="_blank"><i class="fa fa-angle-double-right"></i>Simple Weather App Blog Post</a></li>
                            <li><a href="http://github.com/rajrajhans/weather" target="_blank"><i class="fa fa-angle-double-right"></i>Source Code on GitHub</a></li>
                        </ul>
                    </div>
                </div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="http://facebook.com/rajrajhans" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="http://twitter.com/_rajrajhans" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="http://instagram.com/rajrajhans" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="mailto:me@rajrajhans.com;" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy 2019 All Rights Reserved.<a class="text-green ml-2 grow" href="https://rajrajhans.com" target="_blank">Raj Rajhans</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
</html>